[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Ananke: A theme for Hugo Sites
[access "refs/*"]
	owner = group user/1kn3w
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/1kn3w
	label-Verified = -1..+1 group user/1kn3w
	push = group user/1kn3w
	read = group user/1kn3w
	rebase = group user/1kn3w
	removeReviewer = group user/1kn3w
	submit = group user/1kn3w
[access "refs/heads/*"]
	create = group user/1kn3w
	push = +force group user/1kn3w
	pushMerge = group user/1kn3w
	read = group user/1kn3w
[access "refs/tags/*"]
	push = group user/1kn3w
	push = +force group user/1kn3w
